# Random seed to ensure reproducible results.
random_seed: 454

# Spectrum processing options.
n_peaks: 150
min_mz: 50.52564895  # 1.0005079 * 50.5
max_mz: 2500.0
min_intensity: 0.01
remove_precursor_tol: 2.0  # Da
max_charge: 10
precursor_mass_tol: 50  # ppm
isotope_error_range: [0, 1]


# dataloader
n_workers: 64

# training params
warmup_iters: 100_000
max_iters: 600_000
num_sanity_val_steps: 0

# val freq choose one of the following
val_check_interval: 
check_val_every_n_epoch: 1

learning_rate: 5e-4
weight_decay: 1e-5
max_epochs: 5

train_batch_size: 32

save_weights_only: True
model_save_folder_path: "./"
logger_save_path: "./denovo.log"



# Inference options.
predict_batch_size: 1024

# don't change this
devices: 1

# checkpointing options.
save_top_k: -1

# Model architecture options.
casanovo:
  dim_model: 512
  n_head: 8
  dim_feedforward: 1024
  accelerator: "auto"
  n_layers: 9
  dropout: 0
  dim_intensity: 
  max_length: 100
  min_peptide_len: 6
  train_label_smoothing: 0.1
  calculate_precision: False
  residues:
    "G": 57.021464
    "A": 71.037114
    "S": 87.032028
    "P": 97.052764
    "V": 99.068414
    "T": 101.047670
    "C(+57.02)": 160.030649
    # "C": 160.030649 # V1
    "L": 113.084064
    "I": 113.084064
    "N": 114.042927
    "D": 115.026943
    "Q": 128.058578
    "K": 128.094963
    "E": 129.042593
    "M": 131.040485
    "H": 137.058912
    "F": 147.068414
    "R": 156.101111
    "Y": 163.063329
    "W": 186.079313
    "M(+15.99)": 147.035400
    "N(+.98)": 115.026943
    "Q(+.98)": 129.042594
  n_beams: 5
  top_match: 1



# Model architecture options.
adanovo:
  dim_model: 512
  n_head: 8
  dim_feedforward: 1024
  accelerator: "auto"
  n_layers: 9
  dropout: 0
  dim_intensity: 
  max_length: 100
  min_peptide_len: 6
  train_label_smoothing: 0.1
  calculate_precision: False
  residues:
    "G": 57.021464
    "A": 71.037114
    "S": 87.032028
    "P": 97.052764
    "V": 99.068414
    "T": 101.047670
    "C(+57.02)": 160.030649
    # "C": 160.030649 # V1
    "L": 113.084064
    "I": 113.084064
    "N": 114.042927
    "D": 115.026943
    "Q": 128.058578
    "K": 128.094963
    "E": 129.042593
    "M": 131.040485
    "H": 137.058912
    "F": 147.068414
    "R": 156.101111
    "Y": 163.063329
    "W": 186.079313
    "M(+15.99)": 147.035400
    "N(+.98)": 115.026943
    "Q(+.98)": 129.042594
  s1: 0.1
  s2: 0.1
  n_beams: 5
  top_match: 1



helixnovo:
  dim_model: 512
  n_head: 8
  dim_feedforward: 1024
  n_layers: 9
  dropout: 0
  dim_intensity:
  custom_encoder:
  accelerator: "auto"
  max_length: 100
  residues:
    "G": 57.021464
    "A": 71.037114
    "S": 87.032028
    "P": 97.052764
    "V": 99.068414
    "T": 101.047670
    "C(+57.02)": 160.030649
    # "C": 160.030649 # V1
    "L": 113.084064
    "I": 113.084064
    "N": 114.042927
    "D": 115.026943
    "Q": 128.058578
    "K": 128.094963
    "E": 129.042593
    "M": 131.040485
    "H": 137.058912
    "F": 147.068414
    "R": 156.101111
    "Y": 163.063329
    "W": 186.079313
    "M(+15.99)": 147.035400
    "N(+.98)": 115.026943
    "Q(+.98)": 129.042594
  decoding: 'beam search'  # select in ["beam search",'greedy']
  n_beams: 5
